* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  background: #db4437;
}
.container {
  padding: 20px;
  border-radius: 4px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  max-width: 100%;
  width: 350px;
  background: #fff;
}
h2 {
  text-align: center;
}
form {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 8px;
  margin-top: 20px;
}
#listitem {
  border: 0;
  border-bottom: 2px solid #000;
  outline: none;
  transition: 0.15s;
}
#listitem:focus {
  border-bottom: 2px solid #db4437;
}
#add {
  border: 0;
  background: #db4437;
  color: #fff;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}
#list {
  list-style-type: none;
  margin-top: 20px;
}
li {
  position: relative;
  padding: 8px;
  border-radius: 4px;
  font-size: 16px;
  transition: 0.1s;
}
li:nth-child(odd) {
  background: rgb(255, 226, 226);
  border-radius: 4px;
}
li:hover {
  background: rgb(255, 168, 168);
}
.close {
  position: absolute;
  right: 0px;
  top: 0px;
  display: inline-block;
  padding: 10.75px;
  border: 0;
  border-radius: 4px;
  background: transparent;
}
.close:hover {
  background: rgb#DB4437;
}
.back {
  margin: 20px 0px 0px 0px;
  padding-top: 14px;
  max-width: 425px;
  width: 100%;
  transition: 0.2s;
}
.back a {
  display: flex;
  justify-content: center;
}
.back img {
  color: black;
  text-decoration: none;
}
